In [2]:
import pandas as pd
import numpy as np

In [13]:
g = np.random.default_rng()

In [17]:
s = pd.Series(g.integers(70, 100 + 1, 10))
s

0    76
1    84
2    89
3    72
4    91
5    86
6    75
7    79
8    94
9    84
dtype: int64

In [24]:
s.index = 'Sep Oct Nov Dec Jan Feb Mar Apr May Jun'.split()
s

Sep    76
Oct    84
Nov    89
Dec    72
Jan    91
Feb    86
Mar    75
Apr    79
May    94
Jun    84
dtype: int64

In [30]:
s = pd.Series(g.integers(70, 100 + 1, 10), index='Sep Oct Nov Dec Jan Feb Mar Apr May Jun'.split())
s

Sep    88
Oct    75
Nov    97
Dec    95
Jan    76
Feb    96
Mar    78
Apr    71
May    93
Jun    92
dtype: int64

In [31]:
s.mean()

np.float64(86.1)

In [32]:
s['Sep':'Jan'].mean()

np.float64(86.2)

In [33]:
s['Feb':'Jun'].mean()

np.float64(86.0)

In [34]:
s['Feb':'Jun'].mean() - s['Sep':'Jan'].mean()

np.float64(-0.20000000000000284)